.App-header{
    background-color: #e9f0f0;
    padding: 20px 20px 20px 60px;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    color: black;
    border-bottom: 5px solid black; /* This sets a 2px solid black border */
  font-weight: bold; /* This makes the border appear bold */
    
  
}

body{
  background: linear-gradient(45deg, greenyellow, dodgerblue);

}
.input-form{
  display: flex;
  width: 400px;
  margin-top: 5vh;
  gap: 100px;
  justify-content: center;
  padding: auto;
  --shadowColor: 187 60% 40%;
  max-width: 50rem;
  width: 100%;
  
  overflow: hidden;
  width: 50%; /* Adjust the width based on your design */
    margin: 0 auto; /* Center the container horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    

    transform: translate(-50%, -50%);
    transition: opacity 0.5s, transform 0.5s;
}






/* CSS */
.button-56 {
  align-items: center;
	background: hsl(187 75% 64%);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #e5daff;
  outline: 0;
}

.button-56:hover {
  outline: 0;
  background: linear-gradient(45deg, greenyellow, dodgerblue);

}



@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.button-custom{
  margin-top: 20px;
  padding-bottom: 10px;
}

* {
	box-sizing: border-box;
  
}
main{
  color: #000;
}


h2 {
  color: #080808;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}
.card {
  margin-top: 5vh ;
  
}


.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
